 @media (max-width: 1089px)
{
    
p.text {
    font-size: 350%;
  
}

h2.title {
   
    font-size: 550%;
    
}

.header_menu>li{
    
    font-size: 250%;

}

.left_header > h1{

font-size: 550%;
 
}

}


 @media (max-width: 991px)
{
    
p.text {
    font-size: 300%;
  
}

h2.title {
   
    font-size: 500%;
    
}

.header_menu>li{
    
    font-size: 200%;

}

.left_header > h1{

font-size: 500%;
 
}



}



 @media (max-width: 903px)
{
    
p.text {
    font-size: 250%;
  
}

h2.title {
   
    font-size: 450%;
    
}

.header_menu>li{
    
    font-size: 150%;

}

.left_header > h1{

font-size: 450%;
 
}

}



 @media (max-width: 815px)
{
.container {
   display: inline;
    width: auto;
    margin: auto;
    max-width: 100%;
}

.left_header{
       background-color: #FE88B3;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 25%;
    margin-top: 5%;
}

.left_header > h1{
    font-size: 400%;
    text-align: center;
    margin-top: 0%;
    margin-left: 52%;
}

.Name1{
        margin: 0;
    font-size: 351%;
    text-align: center;
    margin-left: 0%;
}

ul.header_menu{
margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    margin-right: 40%;
}

.right_header{
display: flex;
    background-color: #4AFCD1;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 86px;
    margin-top: 4%;
    width: 651px;
}

.header_menu>li{
    font-family: Caveat;
    font-style: normal;
    font-weight: normal;
    margin-right: 60%;
    font-size: 250%;

}


.left_header,
.right_header {
    max-width: 100%;
    color: #000000;
  }

.left_photo{
    
    padding: 0%;
    margin-top: 1%;
    width: 322%;
    max-width: 56%;
    margin-left: 18%;

}

.right_title{
    width: 103%;
    margin-top: 4%;
}   

h2.title {
    text-align: center;
    margin-right: 1%;
    font-size: 350%;
    color: #0066FF;
    line-height: 60%;
}

p.text {
        font-size: 234%;
    color: #000000;
    line-height: 73%;
    padding: 0%;
    text-align: left;
    margin-right: 1%;
    background-image: url(../image/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    margin-left: 7%;
}

.photo{
             width: 87%;
    margin-left: 16%;
    max-width: 75%;
}

}



 @media (max-width: 600px)
{
.container {
   display: inline;
    width: auto;
    margin: auto;
    max-width: 100%;
}

.left_header{
       background-color: #FE88B3;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 25%;
    margin-top: 5%;
}

.left_header > h1{
    font-size: 400%;
    text-align: center;
    margin-top: 0%;
    margin-left: 52%;
}

.Name1{
        margin: 0;
    font-size: 300%;
    text-align: center;
    margin-left: 0%;
}

ul.header_menu{
margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    margin-right: 40%;
}

.right_header{
    display: flex;
    background-color: #4AFCD1;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 44px;
    margin-top: 4%;
    width: 87%;
}

.header_menu>li{
    font-family: Caveat;
    font-style: normal;
    font-weight: normal;
    margin-right: 60%;
    font-size: 250%;

}


.left_header,
.right_header {
    max-width: 100%;
    color: #000000;
  }

.left_photo{
    
    padding: 0%;
    margin-top: 1%;
    width: 322%;
    max-width: 56%;
    margin-left: 18%;

}

.right_title{
    width: 103%;
    margin-top: 4%;
}   

h2.title {
    text-align: center;
    margin-right: 1%;
    font-size: 350%;
    color: #0066FF;
    line-height: 60%;
}

p.text {
        font-size: 234%;
    color: #000000;
    line-height: 73%;
    padding: 0%;
    text-align: left;
    margin-right: 1%;
    background-image: url(../image/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    margin-left: 7%;
}

.photo{
             width: 87%;
    margin-left: 16%;
    max-width: 75%;
}

}






 @media (max-width: 414px)
{
.container {
   display: inline;
    width: auto;
    margin: auto;
    max-width: 100%;
}

.left_header{
       background-color: #FE88B3;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 27%;
    margin-top: 5%;
}

.left_header > h1{
    font-size: 400%;
    text-align: center;
    margin-top: 0%;
    margin-left: 52%;
}

.Name1{
        margin: 0;
    font-size: 210%;
    text-align: center;
    margin-left: 0%;
}

ul.header_menu{
margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    margin-right: 40%;
}

.right_header{
    display: flex;
    background-color: #4AFCD1;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 44px;
    margin-top: 4%;
    width: 87%;
}

.header_menu>li{
    font-family: Caveat;
    font-style: normal;
    font-weight: normal;
    margin-right: 60%;
    font-size: 170%;

}


.left_header,
.right_header {
    max-width: 100%;
    color: #000000;
  }

.left_photo{
    
    padding: 0%;
    margin-top: 1%;
    width: 322%;
    max-width: 56%;
    margin-left: 20%;

}

.right_title{
    width: 103%;
    margin-top: 4%;
}   

h2.title {
    text-align: center;
    margin-right: 1%;
    font-size: 350%;
    color: #0066FF;
    line-height: 60%;
}

p.text {
        font-size: 234%;
    color: #000000;
    line-height: 73%;
    padding: 0%;
    text-align: left;
    margin-right: 1%;
    background-image: url(../image/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    margin-left: 7%;
}

.photo{
             width: 87%;
    margin-left: 16%;
    max-width: 75%;
}

}

@media (max-width: 376px)
{

.container {
   display: inline;
    width: auto;
    margin: auto;
    max-width: 100%;
}

.left_header{
       background-color: #FE88B3;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 27%;
    margin-top: 5%;
}

.left_header > h1{
    font-size: 400%;
    text-align: center;
    margin-top: 0%;
    margin-left: 52%;
}

.Name1{
        margin: 0;
    font-size: 193%;
    text-align: center;
    margin-left: 0%;
}

ul.header_menu{
margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    margin-right: 40%;
}

.right_header{
    display: flex;
    background-color: #4AFCD1;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 34px;
    margin-top: 4%;
    width: 87%;
}

.header_menu>li{
    font-family: Caveat;
    font-style: normal;
    font-weight: normal;
    margin-right: 60%;
    font-size: 155%;

}


.left_header,
.right_header {
    max-width: 100%;
    color: #000000;
  }

.left_photo{
    
    padding: 0%;
    margin-top: 1%;
    width: 322%;
    max-width: 56%;
    margin-left: 20%;

}

.right_title{
    width: 103%;
    margin-top: 4%;
}   

h2.title {
    text-align: center;
    margin-right: 1%;
    font-size: 280%;
    color: #0066FF;
    line-height: 60%;
}

p.text {
        font-size: 196%;
    color: #000000;
    line-height: 73%;
    padding: 0%;
    text-align: left;
    margin-right: 1%;
    background-image: url(../image/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: 4%;
}

.photo{
             width: 87%;
    margin-left: 16%;
    max-width: 75%;
}


}


@media (max-width: 360px)
{

.container {
   display: inline;
    width: auto;
    margin: auto;
    max-width: 100%;
}

.left_header{
       background-color: #FE88B3;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 27%;
    margin-top: 5%;
}

.left_header > h1{
    font-size: 400%;
    text-align: center;
    margin-top: 0%;
    margin-left: 52%;
}

.Name1{
        margin: 0;
    font-size: 193%;
    text-align: center;
    margin-left: 0%;
}

ul.header_menu{
margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    margin-right: 40%;
}

.right_header{
    display: flex;
    background-color: #4AFCD1;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 34px;
    margin-top: 4%;
    width: 87%;
}

.header_menu>li{
    font-family: Caveat;
    font-style: normal;
    font-weight: normal;
    margin-right: 60%;
    font-size: 155%;

}


.left_header,
.right_header {
    max-width: 100%;
    color: #000000;
  }

.left_photo{
    
    padding: 0%;
    margin-top: 1%;
    width: 322%;
    max-width: 56%;
    margin-left: 20%;

}

.right_title{
    width: 103%;
    margin-top: 4%;
}   

h2.title {
    text-align: center;
    margin-right: 1%;
    font-size: 280%;
    color: #0066FF;
    line-height: 60%;
}

p.text {
        font-size: 196%;
    color: #000000;
    line-height: 73%;
    padding: 0%;
    text-align: left;
    margin-right: 1%;
    background-image: url(../image/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: 4%;
}

.photo{
             width: 87%;
    margin-left: 16%;
    max-width: 75%;
}

}

@media (max-width: 320px)
{

.container {
   display: inline;
    width: auto;
    margin: auto;
    max-width: 100%;
}

.left_header{
       background-color: #FE88B3;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 27%;
    margin-top: 5%;
}

.left_header > h1{
    font-size: 400%;
    text-align: center;
    margin-top: 0%;
    margin-left: 52%;
}

.Name1{
        margin: 0;
    font-size: 165%;
    text-align: center;
    margin-left: 0%;
}

ul.header_menu{
margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    margin-right: 36%;
}

.right_header{
    display: flex;
    background-color: #4AFCD1;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 42px;
    margin-top: 4%;
    width: 74%;
}

.header_menu>li{
    font-family: Caveat;
    font-style: normal;
    font-weight: normal;
    margin-right: 50%;
    font-size: 119%;

}


.left_header,
.right_header {
    max-width: 100%;
    color: #000000;
  }

.left_photo{
    
    padding: 0%;
    margin-top: 1%;
    width: 322%;
    max-width: 56%;
    margin-left: 20%;

}

.right_title{
    width: 103%;
    margin-top: 4%;
}   

h2.title {
    text-align: center;
    margin-right: 1%;
    font-size: 240%;
    color: #0066FF;
    line-height: 60%;
}

p.text {
        font-size: 163%;
    color: #000000;
    line-height: 73%;
    padding: 0%;
    text-align: left;
    margin-right: 1%;
    background-image: url(../image/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 94%;
    margin-left: 4%;
}

.photo{
             width: 87%;
    margin-left: 16%;
    max-width: 75%;
}

}




